html body {
    margin: 0;
    padding: 0;
}

.palette {
    position: absolute;
    left: 15%;
    top: 300px;
    border-radius: 10px;
    display: inline-flex;
}

.palette div {
    width: 150px;
    height: 100px;
    cursor: pointer;
    font-family: Consolas, sans-serif;
    font-size: 20px;
    padding: 0 12px;
    position: relative;
    transition: all .2s;
}

.palette div:first-child {
    border-radius: 10px 0 0 10px;
}

.palette div:last-child {
    border-radius: 0 10px 10px 0;

}

.palette div span:last-child {
    display: none;
    position: relative;
}

.palette div span:last-child {
    margin-right: 40%;
    position: absolute;
    top: 50%;
    left: 30%;
}

.palette div span {
    margin-top: 20px;
    position: absolute;
}

.palette div span:first-child {
    margin-left: 40px;
    top: 20%;
}

/*hover*/
.palette div:hover {
    height: 120px;
    border-radius: 5px 5px 0 0;
    margin-top: -20px;
}

.palette:hover div span:last-child {
    display: inline-block;
}

.palette:hover div span:first-child {
    margin-top: -10px;
}